@model IEnumerable<pimfo.Models.Relatorio>

@{
    ViewData["Title"] = "Home";
}

<h1>Relatorio</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_relatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_relatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor_total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_relatorio)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_relatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor_total)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.id_relatorio">Detalhe</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_relatorio">Delete</a> |
                    <a asp-action="Download" asp-route-id="@item.id_relatorio">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>



<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('myChart');

    var valores = [];
    var b = []

    @foreach (var item in Model)
    {
        <text>valores.push(@item.valor_total); </text>
        <text>b.push(new Date("@item.data_relatorio").toLocaleDateString('en-US')); </text>
    }



    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: b,
            datasets: [{
                label: 'Valor Total',
                data: valores,
                borderWidth: 1,
                backgroundColor: 'rgba(255, 157, 0, 1)',
                derColor: 'rgba(237, 2, 229, 1)'
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>