@model pimfo.Models.Desconto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhe de desconto</h1>

<div>
    <h4>Desconto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vale_alimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vale_alimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vale_transporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vale_transporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor_ferias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor_ferias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imposto_renda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imposto_renda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor_fgts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor_fgts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
